.superpowers/
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
build/
.claude/settings.json
node_modules/
Gemfile.lock
.ruby-version

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
